.container {
    min-width: 450px;
    width: 26%;
    padding: 22px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6px;
}

.comments {
    display: flex;
    flex-direction: column;
}

.center-everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
}

div.song_information_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 80px;
}

.song_image {
    background-size: cover;
    margin: 10px;
    width: 160px;
    height: 160px;
    border-radius: 15px;
}

.comment-input-field {
    display: flex;
    margin: 6px 0;
    justify-content: space-between;
}

.song_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.usercard_uploader {
    background-color: #ddd;
    border: #ccc solid 2px;
    align-items: center;
    width: 320px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
}

.usercard_uploader_image {
    background-size: cover;
    width: 86px;
    height: 86px;
    border-radius: 12px;
}

.comment_user_image {
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.comment_content {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 12px;
    padding: 8px;
    margin: 8px 0;
}

#head {
    display: flex;
    juseeeontent: space-between;
}

#date {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: #707070;
}

#user {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#content {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: #000000;
    margin: 8px;
}

.username {
    font-family: 'Varela Round', sans-serif;
    color: #f572e3;
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    margin-top: auto;
}

img {
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

div.date {
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    color: #9a9a9a;
    margin-bottom: 8px;
    margin-left: 6px;
}

.upload_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.input_text-field {
    width: 82%;
}

.input_button {
    margin-left: 6px;
    height: fit-content;
}

.comment_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paginator_container {
    width: 700px;
    margin-top: 8px;
}

.paginator_container {
    padding: 0;
    width: 40px;;
}
