.container {
    width: 100%;
}

.text_username {
    color: #ffa8ed;
    font-size: 40px;
    margin: 0 20px;
    display: inline;
}

.profile-picture {
    object-fit: cover;
    border-radius: 30px;
    width: 160px;
    height: 160px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: column;
}

#song_page_back_button_line {
    margin-bottom: 14px;
}

.aboutme-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aboutme-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 24px;
}

.aboutme-content {
    padding: 12px;
    background-color: #222;
    border-radius: 12px;
}