.profile {
    display: flex;
    justify-content: space-between;
}

.text_username {
    color: #ffa8ed;
    font-size: 40px;
    margin: 0 20px;
    display: inline;
}

.profile-picture {
    object-fit: cover;
    border-radius: 30px;
    width: 160px;
    height: 160px;
}

